* {
    -fx-primary: black;
    -fx-red: #660700;
    -fx-white: #EBE4EF;
}

VBox {
    -fx-background-color: -fx-primary;
}

Label {
    -fx-text-fill: -fx-white;
}

Button, ChoiceBox {
    -fx-border-radiux : 50px;
    /* -fx-border-color: -fx-red; */
    -fx-background-color : -fx-red;
    -fx-text-fill: -fx-white;
    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 0, 0);
}